
css


body {
font-family: "Times New Roman":
background-color: #f2f2f2;
margin: 20px;
}

header {
background-color: beige;
color: white;
padding: 15x;
}

nav a {
color: white;
text-decoration: none;
margin: 10px
}

table {
background-color: white;
width: 60%
}
